:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196F3;
    --background-color: #2F303A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
} 

/* Header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo .accent {
    color: var(--accent-text-color)
}

/* Site nav */

.site-nav a:hover,
.site-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-text-color);
}

.site-nav,
.auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

.auth-nav .link {
    color: var(--second-text-color);
}

.link {
    text-decoration: none;
    color: inherit;
}

.link-tel:hover,
.link-tel:focus {
    color: var(--accent-text-color);
}

/* Footer */

.footer {
    color: #ffffff;
}

footer {
    background-color: var(--background-color);
}



.address .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link.map {
    color: #ffffff;
}